<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}linkup App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
       
        body {
            background-color: #f8f9fa; 
        }
        .header-custom {
            background-color: #1fc8ba; 
        }
        .navbar-custom {
            background-color: #17a2b8; 
        }
        .footer-custom {
            background-color: #343a40; 
        }
    </style>
</head>
<body>
    <header class="header-custom text-white text-center py-3 mb-4">
        <h1 class="h3">{% block header %}linkup App{% endblock %}</h1>
    </header>
    

    <main class="container py-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer-custom text-white text-center py-3 mt-4">
        <div class="container">
            © 2023 Created by Ramya Sree Kaja
        </div>
    </footer>


</body>
</html>
