{% extends 'linkup/base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-danger">Confirm Delete</h2>
    <p class="lead">Are you sure you want to delete "{{ contact.first_name }} {{ contact.last_name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group text-center">
            <button type="submit" class="btn btn-danger btn-lg">Yes, delete</button>
            <a href="{% url 'linkup_list' %}" class="btn btn-secondary btn-lg">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
<footer class="bg-light text-center text-lg-start mt-4">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Created by Ramya Sree Kaja
    </div>
</footer>
{% endblock %}
